@{
    ViewData["Title"] = "AboutMe";
}

<body style="background-color:black">
    <h1 style="color:floralwhite"class="titleanimation">About Me</h1>
    <div>
        <div class="AboutMeColumn">
            <div style="text-align:center" >
                <img style="width:115px;height:115px;border:1px solid red" src="/image/city.jpg" alt="city">
            </div>
        </div>
       
        <div class="AboutMeColumn">
            <p style="color:floralwhite">
                Welcome to my page! My name is John Hernandez and Im a Software Developer. My passion is to
                write code and explore the opportunity it provides me. I would also like to make your dreams come true
                As a Software Developer, Ill like to pick your brain on how to improve your business in a big impacted way
                starting from your own customized website and persoanl database to help your clientele satisfaction at an all time hight
            </p>
        </div>
        <br />
        <br />
        <div>
            <p style ="text-align:center">Skills</p>
            <section>
                <div class="column2">C#</div>
                <div class="column2">C#</div>
            </section>
            <section>
                <div class="column2">Database SQL</div>
                <div class="column2">Database SQL</div>
            </section>
            <section>
                <div class="column2">Database SQL</div>
                <div class="column2">Database SQL</div>
            </section>
        </div>
    </div>
    


</body>



