@{
    ViewData["Title"] = "Home Page";
}
<body class="Paradisebody">
  <div class="titleanimation">
        <h1 style="color:floralwhite" class="display-4">Let me help Create a <span style="color:red">Path</span> for a better<span style="color:red"> Future </span>for your <span style="color:red">Small Business </span></h1>
        <br />
        <br />
        <p style="color:black;font-size:20px"><b> If you want to learn more on how to better your future look at My Projects </b></p>
  </div>
 </body>