@{
    ViewData["Title"] = "Home Page";
}

 <div class="text-center">
    <h1 style="color:floralwhite" class="display-4">Let me help Create a <span style="color:darkred">Path</span> for a better<span style="color:darkred"> Future </span>for your Small Business  </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
 </div>
