
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html 
{
  position: relative;
  min-height: 100%;
  font-size:14px;
  scroll-behavior:smooth;
}

.Paradisebody 
{
    background-image:url('../image/R.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.iconContainer
{
    position:relative;
    background-color:white;
}
.ContactInfoButton
{
    background-color:white;
}

.contactcard
{
    
    position:absolute;
    left:800px;

}
* {
    box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }

/* Style the container/contact section */
.container {
    border-radius: 5px;
    
    padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
    
    top:150px;
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
.titleanimation{
    animation:slideright 1s linear forwards;
}
@keyframes slideright{
    0%{
        transform:translate(100px);
        opacity: 0;
    }
    100% {
        transform: translate(0px);
        opacity: 1;
    }
}
.AboutMeColumn
{
    float:left;
    width:50%;
}
footer {
    color:floralwhite;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
    padding: 25px;
}
.column2 {
    float: left;
    width: 50%;
    text-align:center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
